{%extends "base.html"%}

{%block title%}
{{title}}
{%endblock%}
{%block body%}
<div class="container">
    <h1 align="center">Статьи, опубликованные на сайте</h1><br>
    {%if session == 'True'%}
    <h4>Вы всегда можете <a href="/article/create-article">создать свою статью</a> и она появится тут</h4>
    {% else %}
    <h4>Для того,чтобы появиться тут, нужно авторизоваться</h4>
    {%endif%}
    <hr>
    {%for art in articles%}
    <div class="alert alert-info">
        <h2>{{art[2]}}</h2>
        {{art[3]}}
        <p align="right"><b>{{art[5][0:10]}}</b></p>
        <a href="/article/{{art[0]}}" class="btn btn-primary">Подробнее</a>
        {%if art[1]==idenf%}
        <a class="btn btn-warning" href="/editing/{{art[0]}}">Редактировать</a>
        <a class="btn btn-danger" href="/delete/{{art[0]}}">Удалить</a>


        {%endif%}


    </div>
    {%endfor%}

</div>
{%endblock%}