{%extends "base.html"%}

{%block title%}
Введите код
{%endblock%}

{%block body%}


<div class="container">
    <h2>Уверен ли ты в удалении <a href="/article/{{id}}">статьи</a>?</h2><br>
    <div class="form-group">
        <form method="POST">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="confident" id="confidentTrue" value="True">
                <label class="form-check-label" for="confidentTrue">Да</label>
            </div>

            <input class="form-check-input" type="radio" name="confident" id="confidentFalse" value="False">
            <label class="form-check-label" for="confidentFalse">Нет</label><br><br>
            <input class="btn btn-primary" type="submit" value="Ответить">
            </form><br>
    </div>
</div>{%endblock%}