{%extends "base.html"%}

{%block title%}
{{public_name}}
{%endblock%}

{%block body%}
<br>
<div class="container">
    <h1>{{public_name}}</h1><br>
    <h3>О пользоваетеле</h3>
    <h4>{{about}}</h4>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger text-center">{{ message }}</div>
    {% endfor %}
    <a class="btn btn-danger" href="/logout">Выйти из профиля</a>
    <hr>
    {%for art in articles%}
    <div class="alert alert-info">
        <h2>{{art[2]}}</h2>
        {{art[3]}}
        <p align="right"><b>{{art[5][0:10]}}</b></p>
        <a href="/article/{{art[0]}}" class="btn btn-primary">Подробнее</a>
        <a class="btn btn-warning" href="/editing/{{art[0]}}">Редактировать</a>
        <a class="btn btn-danger" href="/delete/{{art[0]}}">Удалить</a>
    </div>
    {%endfor%}

</div>
{%endblock%}