{%extends "base.html"%}

{%block title%}
Редактирование статьи
{%endblock%}
{%block body%}
<div class="container">
    <h1>Редактирование статьи</h1><br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger text-center">{{ message }}</div>
    {% endfor %}
    <form method="POST">
      <label>Заголовок статьи
        <input type="text" name="title" class="form-control" placeholder="Название статьи" required value="{{title}}">
       </label><br>
      <label for="intro">Интро статьи</label><textarea name="intro" id="intro" class="form-control" placeholder="Интро статьи" rows="3"
                                           required>{{intro}}</textarea><br>
      <label for="txt">Основной текст статьи</label><textarea name="txt" id="txt" class="form-control" placeholder="Основной текст" rows="13"
                                         required >{{textarea}}</textarea><br>
        <input type="submit" class="btn btn-primary" value='Изменить'>
    </form>
</div>
{%endblock%}